{# This is the main site wrapper #}
{# This page expects a variable named 'monitor_name#}
<html lang="en">
{% load static %}

  <head>
    <title>Traffic Monitor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Monitor traffic trends of various recognized objects">
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">#}
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">#}
    <link rel="stylesheet" href="../../static/assets/fonts/fontawesome-all.min.css">

    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">

  </head>

    <body class="bg-dark">
            {% block frame  %}
            {% endblock %}
    </body>

    <footer>
        <script src="../../static/assets/js/jquery.min.js"></script>
        <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/assets/js/chart.min.js"></script>
        <script src="../../static/assets/js/bs-init.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="../../static/assets/js/theme.js"></script>

        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js"></script>
    </footer>

</html>
