<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block jscript %}
    {% csrf_token %}
    <script type="text/javascript">

        function update_chartsocket(monitor_id) {

            const chartSocket = new WebSocket('ws://' + window.location.host + '/ws/traffic_monitor/chart/')

            {# Setup Chart #}
            let url = 'get_chart/' + monitor_id ;
            let target_div = document.getElementById('plot-area')
            fetch(url)
                .then(response => response.json())
                .then(item => {
                                {#console.log(JSON.parse(item.data))#}

                                target_div.innerHTML = ''
                                target_div.setAttribute('data-url', url);
                                Bokeh.embed.embed_item(item, 'plot-area');

                                console.log(item.Doc)

                              })
                .catch((error) => {
                                    console.log(error)
                                    target_div.innerHTML = error
                                })

            {# Update Chart #}
            chartSocket.onmessage = function(e) {
                if (parseInt(JSON.parse(e.data).monitor_id) === parseInt(monitor_id)) {
                    console.log("updating chart ...")
                    fetch(url)
                        .then(response => response.json())
                        .then(item => {
                            {#console.log(JSON.parse(item.data))#}

                            target_div.innerHTML = ''
                            target_div.setAttribute('data-url', url);
                            Bokeh.embed.embed_item(item, 'plot-area');
                        })
                        .catch((error) => {
                            console.log(error)
                            target_div.innerHTML = error
                        })
                }

            }

            chartSocket.onclose = function(e) {
                console.log("chartSocket closed!")
            }

            chartSocket.onopen = function(e) {
                console.log("chartSocket opened!")
            }

        }

        function update_logsocket(monitor_id) {

            const logSocket = new WebSocket('ws://' + window.location.host + '/ws/traffic_monitor/log/')

            {# Clear anything already in the detections log #}
            let logtable = document.getElementById("logtable");
            logtable.innerHTML = ''

            {# Update Log #}
            logSocket.onmessage = function(e) {
                const data = JSON.parse(e.data).counts;
                const time_stamp = JSON.parse(e.data).timestamp;
                const m_id = JSON.parse(e.data).monitor_id;
                {#console.log("Monitor: " + m_id + " Log Time:" + time_stamp);#}

                {# Only show the logged detections for currently viewed montitor#}
                if (parseInt(m_id) !== parseInt(monitor_id)) {
                    return
                }

                let logtable = document.getElementById("logtable");
                let i = 0;

                for (const [k, v] of Object.entries(data)){
                    console.log(k + ': ' + v);
                    let logentry = document.createElement("tr");

                    let c1 = document.createElement("td");
                    c1.className = 'py-2'
                    if (i === Object.keys(data).length-1) {
                        c1.innerHTML = time_stamp;
                    } else {
                        c1.innerHTML = ''
                    }
                    logentry.appendChild(c1);

                    let c2 = document.createElement("td");
                    c2.className = 'py-2'
                    c2.innerHTML = k + ': ' + v;
                    logentry.appendChild(c2);

                    logtable.insertBefore(logentry, logtable.childNodes[0]);

                    i++;

                {#If list is longer than 100, remove oldest item from the bottom of list#}
                var num_elems = document.getElementById("logtable").childElementCount;

                if (num_elems > 10) {
                    logtable.removeChild(logtable.childNodes[10]);
                }

                }
            }

            logSocket.onclose = function(e) {
                console.log("logSocket closed!")
            }

            logSocket.onopen = function(e) {
                console.log("logSocket opened!")
            }

        }

        {#function setup_video() {#}
        {#    let monitor_id = get_active_monitor()#}
        {#    let vid = document.getElementById("video_feed")#}
        {#    vid.setAttribute('src', 'video_feed/' + monitor_id)}#}

        function get_selected_monitor() {
            let e = document.getElementById('lst-active-monitors');
            return e.options[e.selectedIndex].value;
        }

        function toggle_all(action) {

            let monitor_id = get_selected_monitor()
            if (parseInt(monitor_id) === -1) { return }

            let btn = null;
            if (action === 'mon') {
                btn = document.getElementById('btn-monitor')
            }
            if (action === 'log') {
                btn = document.getElementById('btn-log')
            }
            let init_text = btn.innerHTML
            let prog_icon = '../../static/assets/img/ajax_loader_blue_350.gif'
            btn.innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;<img src=" + prog_icon +" height='15'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"

            const url = 'toggle_all/' + monitor_id + '/' + action;
            console.log("Toggle_all() : " + url)
            fetch(url)
                .then(rv => update_table(monitor_id))
                .then(rv => btn.innerHTML = init_text)

        }

        function get_class_data() {
            let monitor_id = get_selected_monitor();
            console.log(parseInt(monitor_id));
            console.log(parseInt(monitor_id) === -1);
            if (parseInt(monitor_id) === -1) { return }
            const url = 'get_class_data/' + monitor_id;
            fetch(url)
                .then(response => console.log(response));
        }

        {# Starts or stops a monitor #}
        function monitor(action){

            let lst = document.getElementById('lst-all-monitors');
            let sel_item = lst.options[lst.selectedIndex];

            let btn = null
            if (action === 'start') {
                btn = document.getElementById('btn-start-monitor')
            }
            if (action === 'stop') {
                btn = document.getElementById('btn-stop-monitor')
            }
            let init_text = btn.innerHTML
            let prog_icon = '../../static/assets/img/ajax_loader_blue_350.gif'
            btn.innerHTML = "<img src=" + prog_icon +" height='16'>"

            let e = document.getElementById('lst-all-monitors');
            let monitor_id = e.options[e.selectedIndex].value;
            const url = 'monitor/' + action + '/' + monitor_id;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                                if (data['success'] === true) {
                                    update_all_monitors();
                                    update_active_monitors();
                                }
                              })
                .then( rv => btn.innerHTML = init_text)

            sel_item.selected = true;
        }


        function change_view(monitor_id) {
            {#Update the video stream#}
            let vid = document.getElementById("video_feed")
            if (!monitor_id) {
                monitor_id = get_selected_monitor()
            }
            {#let active_monitors = document.getElementById('lst-active-monitors');#}
            {#let monitor_id = active_monitors.options[active_monitors.selectedIndex].value;#}

            console.log("Change View: " + monitor_id)

            vid.setAttribute('src', 'video_feed/' + monitor_id)

            {#Update the table of elements to monitor and log#}
            setup_table(monitor_id)

            {#Update the detection log#}
            update_logsocket(monitor_id)

            {#Update the chart#}
            update_chartsocket(monitor_id)

        }

        {# update the visible list of all available monitors #}
        function update_all_monitors() {
            const url = 'get_all_monitors';
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    let list_monitors = document.getElementById('lst-all-monitors');

                    {#clear current listing#}
                    list_monitors.innerHTML = ''

                    for (let m_id in data) {
                        if (data.hasOwnProperty(m_id)) {
                            let sel_item = document.createElement('option');
                            sel_item.value=m_id;
                            let text = m_id + ": " + data[m_id]['detector'] + " / " + data[m_id]['feed'];
                            if (data[m_id]['is_active'] === true) {
                                text += " -> Active"
                            }
                            sel_item.innerHTML = text;

                            list_monitors.appendChild((sel_item))
                            }
                        }
                    })
        }

        {# Updates the list of currently active monitors #}
        function update_active_monitors() {
            const url = 'get_active_monitors';

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    let list_monitors = document.getElementById('lst-active-monitors');
                    {# Identify the monitor that is currently selected #}
                    let cur_selected_monitor_id = get_selected_monitor()

                    {#clear current listing#}
                    list_monitors.innerHTML = ''

                    {# Create initial item in list #}
                    let sel_item = document.createElement('option');
                    sel_item.innerHTML = "Select monitor to view ..."
                    sel_item.value = '-1'
                    list_monitors.appendChild((sel_item))

                    for (let m_id in data) {
                        if (data.hasOwnProperty(m_id)) {
                            let sel_item = document.createElement('option');
                            sel_item.value=m_id;
                            sel_item.innerHTML = m_id + ": " + data[m_id]['detector'] + " / " + data[m_id]['feed'];
                            {# Make any currently viewed item the active item #}
                            if (parseInt(m_id) === parseInt(cur_selected_monitor_id) ) {
                                sel_item.selected = true;
                            }

                            if (parseInt(cur_selected_monitor_id) === -1) {
                                sel_item.selected = true;
                                change_view(m_id)
                            }

                            list_monitors.appendChild((sel_item))
                            }
                        }
                    })

        }

        {# Update the listing of selected logged and monitored items #}
        function update_table(monitor_id) {
            const url = 'get_class_data/' + monitor_id
            console.log("updating table: " + url)

            fetch(url)
                .then(response => response.json())
                .then(data => {

                                let mon_check_boxes = document.getElementsByClassName('mon_checkbox');
                                for (const box of mon_check_boxes) {
                                    let class_id = box.id.split('__')[1]
                                    box.checked = data[class_id]['is_monitoring']
                                    }

                                let log_check_boxes = document.getElementsByClassName('log_checkbox');
                                for (const box of log_check_boxes) {
                                    let class_id = box.id.split('__')[1]
                                    box.checked = data[class_id]['is_logging']
                                    }
                               })
                .catch(function(error) {
                                    console.log("Could not get data: get_class_data() failed. : " + error);
                                })
        }

        function toggle_box(elemid) {
            let split_elemid = elemid.split("__");
            let action = split_elemid[0];
            let class_id = split_elemid[1];
            let monitor_id = get_selected_monitor();

            const url = 'toggle_box';
            fetch(url, {method: 'POST',
                        headers: {"Content-Type": "application/json;charset=utf-8",
                                  "X-CSRFToken": "{{ csrf_token }}"},
                        body: JSON.stringify({  'action': action,
                                                'class_id': class_id,
                                                'monitor_id': monitor_id }) });
        }

        function setup_table(monitor_id) {
        {#    Get data to put in table #}

            const url = 'get_class_data/' + monitor_id
            fetch(url)
                .then(response => response.json())
                .then(data => { make_table(data); })
                .catch(function(error) {
                                    console.log("Could not get data: get_class_data() failed. : " + error);
                                })
        }

        function make_table(data) {
            {# Clear the table #}
            let table = document.querySelector("#monlogtable");
            table.innerHTML = ''
            for (var key in data) {
                var row = make_class_row(   data[key]['class_name'],
                                            data[key]['class_id'],
                                            data[key]['is_monitoring'],
                                            data[key]['is_logging']);
                add_table_row(row);
            }
        }

        function make_class_row(class_name, class_id, is_mon_on, is_log_on) {

            {# Create class name column #}
            let c1 = document.createElement("td");
            c1.innerHTML = `${class_name}`;
            c1.className = 'py-2';

            {# Create monitoring checkbox column #}
            let mon_check_box = document.createElement("input");
            mon_check_box.type = 'checkbox';
            mon_check_box.className = 'mon_checkbox';
            mon_check_box.id = 'mon__' + class_id;
            mon_check_box.checked = is_mon_on;
            mon_check_box.onclick = function() {toggle_box('mon__' + class_id);}

            let c2 = document.createElement("td");
            c2.appendChild(mon_check_box);
            c2.className = "text-center py-2";

            {# Create logging checkbox column #}
            let log_check_box = document.createElement("input");
            log_check_box.type = 'checkbox';
            log_check_box.className = 'log_checkbox';
            log_check_box.id = 'log__' + class_id;
            log_check_box.checked = is_log_on;
            log_check_box.onclick = function() {toggle_box('log__' + class_id);}

            let c3 = document.createElement("td");
            c3.appendChild(log_check_box);
            c3.className = "text-center py-2";


            let table_row = document.createElement('tr');
            table_row.appendChild(c1);
            table_row.appendChild(c2);
            table_row.appendChild(c3);

            return table_row

            }

        function add_table_row(table_row) {
                let table = document.querySelector("#monlogtable");
                table.appendChild(table_row)
        }

        {#On load, update monitor lists#}
        document.addEventListener('DOMContentLoaded', () => {
            update_all_monitors();
            update_active_monitors();
        })

    </script>
{% endblock %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - TrafficMonitor</title>
    <meta name="description" content="Monitor traffic trends of various recognized objects passing by on the street in front of your house.">
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../static/assets/fonts/fontawesome-all.min.css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-traffic-light"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>TrafficMonitor</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Table</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div><a class="btn btn-primary" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1" role="button">Video Stream</a>
                                        <div class="collapse show" id="collapse-1">

                                            {# ALL MONTORS #}
                                            <div class="input-group my-2 col-12 col-xl-6">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="lst-all-monitors">Monitors</label>
                                                </div>
                                                <select class="custom-select" id="lst-all-monitors">
                                                    <option selected>Choose...</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" id="btn-start-monitor" onclick="monitor('start')"><img src="../../static/assets/img/play-32.png" height='16'></button>
                                                    <button class="btn btn-outline-secondary" type="button" id="btn-stop-monitor" onclick="monitor('stop')"><img src="../../static/assets/img/stop-32.png" height='16'></button>
                                                </div>
                                            </div>

                                            {# VIEW MONITOR SELECTION#}
                                            <div class="input-group my-2 col-12 col-xl-6">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="lst-active-monitors">View</label>
                                                </div>
                                                    <select class="custom-select" id="lst-active-monitors">
                                                        <option selected >Choose...</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="btn-view-monitor" onclick="change_view()">Show</button>
                                                    </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-6">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Video Stream</h6>
                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                            role="menu">
                                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" role="presentation" href="#">&nbsp;Action</a><a class="dropdown-item" role="presentation" href="#">&nbsp;Another action</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#">&nbsp;Something else here</a></div>
                                    </div>
                                </div>
                                <div class="card-body p-0" id="video-stream" style="background-color: black; height: 360px;">
                                    <img id='video_feed' style="width: 100%; max-height: 100%" src="">
                                </div>


                            </div>
                        </div>

                        {# CHART #}
                        <div class="col-lg-7 col-xl-6">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Traffic Trend</h6>
                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                            role="menu">
                                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" role="presentation" href="#">&nbsp;Action</a><a class="dropdown-item" role="presentation" href="#">&nbsp;Another action</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#">&nbsp;Something else here</a></div>
                                    </div>
                                </div>
                                <div class="card-body" style="height: 360px;">
                                    <div id="plot-area" data-label="Traffic Trends" style="height: 360px;">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-6">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Detection Log</h6>
                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                            role="menu">
                                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" role="presentation" href="#">&nbsp;Action</a><a class="dropdown-item" role="presentation" href="#">&nbsp;Another action</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#">&nbsp;Something else here</a></div>
                                    </div>
                                </div>
                                <div class="card-body" style="height: 360px; overflow-y: auto">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Obj: Detections/Minute</th>
                                                </tr>
                                            </thead>

                                            <tbody id="logtable">
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 col-xl-6">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Monitor and Logging Settings</h6>
                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                            role="menu">
                                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" role="presentation" href="#">&nbsp;Action</a><a class="dropdown-item" role="presentation" href="#">&nbsp;Another action</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#">&nbsp;Something else here</a></div>
                                    </div>
                                </div>
                                <div class="card-body" style="height: 360px; overflow-y: auto">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead style="position: sticky">
                                                <tr>
                                                    <th style="position: sticky;">Object</th>
                                                    <th style="position: sticky;" class="text-center"><button class="btn btn-primary" id="btn-monitor" type="button" onclick="toggle_all('mon')">Monitor</button></th>
                                                    <th style="position: sticky;" class="text-center"><button class="btn btn-primary" id="btn-log" type="button" onclick="toggle_all('log')">&nbsp&nbsp Log &nbsp&nbsp</button></th>
                                                </tr>
                                            </thead>

                                            <tbody id="monlogtable" style="height: 200px; overflow-y: scroll;">
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Mark McDonald 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/assets/js/chart.min.js"></script>
    <script src="../../static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../../static/assets/js/theme.js"></script>

    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.0.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.2.min.js"></script>

</body>

</html>