{% extends 'traffic_monitor/section_wrapper.html' %}

{% block title %}Monitor Configuration{% endblock title %}

{% block content %}
    {% csrf_token %}

    <script type="text/javascript">

        function start_monitor(monitor_name) {
            let elems = document.getElementsByClassName('config_object is_active')
            let spinner_icon = '../../static/assets/img/ajax_loader_blue_350.gif'
            for (let e in elems) {
                if (elems.hasOwnProperty(e)) {
                    elems[e].innerHTML = "<img src=" + spinner_icon + " height='16'>"
                }
            }
            fetch("start_monitor?monitor_name="+monitor_name).then( () => update_config_objects('{{monitor_name}}'))
        }

        function stop_monitor(monitor_name) {
            let elems = document.getElementsByClassName('config_object is_active')
            let spinner_icon = '../../static/assets/img/ajax_loader_blue_350.gif'
            for (let e in elems) {
                if (elems.hasOwnProperty(e)) {
                    elems[e].innerHTML = "<img src=" + spinner_icon + " height='16'>"
                }
            }
            fetch("stop_monitor?monitor_name="+monitor_name).then( () => update_config_objects('{{monitor_name}}'))
        }

        function toggle_service(monitor_name, service, class_name) {
            let elems = document.getElementsByClassName('config_object '+ class_name)
            let spinner_icon = '../../static/assets/img/ajax_loader_blue_350.gif'
            for (let e in elems) {
                if (elems.hasOwnProperty(e)) {
                    elems[e].innerHTML = "<img src=" + spinner_icon + " height='16'>"
                }
            }
            fetch("toggle_service?monitor_name="+monitor_name+"&service="+service).then( () => update_config_objects('{{monitor_name}}'))
        }

        {#On load, get the monitor configuration data and update the elements #}
        document.addEventListener('DOMContentLoaded', () => {

        })

    </script>

    <div class="card-body" style="height: 360px; overflow-y: auto">
        <div class="row">
            <div class='mx-2' style="font-weight: bolder; width: 150px">Monitor Name: </div><div class="config_object monitor_name"></div>
        </div>

        <div class="row">
            <div class='mx-2' style="font-weight: bolder; width: 150px">Detector Name: </div><div class="config_object detector_name" style="width: 75px"></div>
            <div class='mx-2' style="font-weight: bolder; width: 60px">Model: </div><div class="config_object detector_model"></div>
        </div>

        <div class="row">
            <div class='mx-2' style="font-weight: bolder; width: 200px">Detector Sleep Throttle: </div><div class="config_object detector_sleep_throttle"></div>
            <div class='mx-2' style="font-weight: bolder; width: 200px">Detector Confidence: </div><div class="config_object detector_confidence"></div>
        </div>

        <div class="row">
            <div class='mx-2' style="font-weight: bolder; width: 200px">Feed Description: </div><div class="config_object feed_description"></div>
        </div>

        <div class="row">
            <div class='mx-2' style="font-weight: bolder; width: 200px">Feed ID: </div><div class="config_object feed_id"></div>
        </div>

        <div class="row">
            <div class='mx-2' style="font-weight: bolder; width: 200px">Time Zone: </div><div class="config_object time_zone"></div>
        </div>

        <div class="row">
            <div class='mx-2' style="font-weight: bolder; width: 200px">Running: </div><div class="config_object is_active" style="width: 50px"></div><button type="button" class="btn btn-success btn-sm" onclick="start_monitor('{{ monitor_name }}')">Start</button><button type="button" class="btn btn-danger btn-sm" onclick="stop_monitor('{{ monitor_name }}')">Stop</button>
        </div>

        <div class="col-12 border border-secondary rounded bg-light px-3 py-2 mt-2">
            <div class="row">
                <div style="font-weight: bolder">Services</div>
            </div>
            <div class="row">
                <div class='mx-2' style="font-weight: bold; width: 100px">Logging: </div>
                <div style="width: 50px" class="config_object logging_on"></div>
                <button type="button" class="btn btn-primary btn-sm" onclick="toggle_service('{{ monitor_name }}', 'log', 'logging_on')">Toggle</button>
                <div class='mx-2' style="font-weight: bold; width: 100px">Interval: <span class="config_object log_interval" style="font-weight: normal"></span></div>

            </div>
            <div class="row">
                <div class='mx-2' style="font-weight: bold; width: 100px">Notification: </div>
                <div style="width: 50px" class="config_object notifications_on"></div>
                <button type="button" class="btn btn-primary btn-sm" onclick="toggle_service('{{ monitor_name }}', 'notification', 'notifications_on')">Toggle</button>
            </div>
            <div class="row">
                <div class='mx-2' style="font-weight: bold; width: 100px">Charting: </div>
                <div style="width: 50px" class="config_object charting_on"></div>
                <button type="button" class="btn btn-primary btn-sm" onclick="toggle_service('{{ monitor_name }}', 'chart', 'charting_on')">Toggle</button>
            </div>
{#            <div class="row">#}
{#                <div class='ml-4' style="font-weight: bold; width: 150px">Time Horizon: </div><div id="charting_time_horizon"></div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class='ml-4' style="font-weight: bold; width: 150px">Time Zone: </div><div id="charting_time_zone"></div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class='ml-4' style="font-weight: bold; width: 150px">Objects: </div><div id="charting_objects"></div>#}
{#            </div>#}
        </div>

    </div>

{% endblock content %}