{# This file lays out the service of  monitor #}
{# This page expects to be called with a variable called 'monitor_name' #}
<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

        })
</script>

<div id="monitor_config">
    {%  include 'traffic_monitor/monitor_config.html' with monitor_name=monitor_name%}
</div>

<div id="monitor_video">
    {%  include 'traffic_monitor/service__video.html' with monitor_name=monitor_name%}
</div>

<div id="monitor_chart">
    {%  include 'traffic_monitor/service__charting.html' with monitor_name=monitor_name%}
</div>

<div id="monitor_log">
    {%  include 'traffic_monitor/service__logging.html' with monitor_name=monitor_name%}
</div>

<div id="monitor_selection">
    {%  include 'traffic_monitor/service__object_selection.html' with monitor_name=monitor_name%}
</div>



