{%  extends 'traffic_monitor/section_wrapper.html' %}

{% block title %}Monitor Selection{% endblock %}

{% block content %}
{#    Include the service html here #}
    {% csrf_token %}

    <script type="text/javascript">

        async function get_monitors() {
            const url = 'get_monitors'
            return await fetch(url).then(data => {
                return data.json();
            }).catch( function(error) {
                                    console.log("Could not get data: get_monitors() failed. : " + error);
                                });
        }

        async function setup_monitor_dropdown() {
            let monitors = await get_monitors();
            let table = document.getElementById("monitors_list");
            table.innerText = '';

            for (let m in monitors) {
                let trow = document.createElement('tr');

                let trow_head = document.createElement('td');
                trow_head.innerText = monitors[m]['name'];
                trow.appendChild(trow_head);

                let trow_c1 = document.createElement('td');
                trow_c1.innerText = monitors[m]['detector_id'];
                trow.appendChild(trow_c1);

                let trow_c2 = document.createElement('td');
                trow_c2.innerText = monitors[m]['feed_id'];
                trow.appendChild(trow_c2);

                trow.onclick = () => open_monitor(monitors[m]['name']);
                table.appendChild(trow);
            }
        }

        function open_monitor(monitor_name) {
            window.location.href = "/?monitor_name=" + monitor_name;
        }

        document.addEventListener('DOMContentLoaded', () => {
            setup_monitor_dropdown('{{monitor_name}}');
        })

    </script>

    <div class="card-body" style="height: 360px; overflow-y: auto">
        <table class="table table-hover">
          <thead>
            <tr style="text-align: left">
              <th scope="col" >Name</th>
              <th scope="col" >Detector</th>
              <th scope="col" >Video Stream</th>
            </tr>
          </thead>
          <tbody id="monitors_list">
            ...
          </tbody>
        </table>
    </div>


{% endblock content %}