{% extends 'traffic_monitor/section_wrapper.html' %}

{% block title %}Detection Log{% endblock title %}

{% block content %}
    {% csrf_token %}

    <script type="text/javascript">

        async function update_logsocket(monitor_name) {
            {# A socket is created that will be used to capture messages from #}
            {# the backend. When updates are received the web page is updated #}
            {# with the respective log information. #}

            const socket = new WebSocket('ws://' + window.location.host + '/ws/traffic_monitor/log/' + monitor_name + '/')

            let monitor_config = await get_monitor_config("{{ monitor_name }}")
            let class_colors = monitor_config['class_colors']

            {# Clear anything already in the detections log #}
            let logtable = document.getElementById("logtable");
            logtable.innerHTML = ''

            {# Update Log #}
            socket.onmessage = function(e) {
                const data = JSON.parse(e.data).counts;
                const utctime = new Date(JSON.parse(e.data).time_stamp);
                let time_stamp = utctime.toLocaleString()

                let logtable = document.getElementById("logtable");
                let i = 0;

                for (const [k, v] of Object.entries(data)){
                    console.log(k + ': ' + v);
                    let color = class_colors[k];
                    console.log(class_colors);
                    console.log(class_colors[k]);
                    let logentry = document.createElement("tr");

                    let c1 = document.createElement("td");
                    c1.className = 'py-1'
                    if (i === Object.keys(data).length-1) {
                        c1.innerHTML = time_stamp;
                    } else {
                        c1.innerHTML = ''
                    }
                    logentry.appendChild(c1);

                    let c2 = document.createElement("td");
                    c2.className = 'py-1'
                    c2.innerHTML = "<span style='height:10px; width:10px; border-radius:50%; background-color: rgb(" + color[0] + "," + color[1] + "," + color[2] +"); display: inline-block'></span>&nbsp" + k + ": " + v;
                    {#c2.innerHTML = k + ': ' + v;#}
                    logentry.appendChild(c2);

                    logtable.insertBefore(logentry, logtable.childNodes[0]);

                    i++;

                {#If list is longer than 100, remove oldest item from the bottom of list#}
                var num_elems = document.getElementById("logtable").childElementCount;

                if (num_elems > 10) {
                    logtable.removeChild(logtable.childNodes[10]);
                }

                }
            }

            socket.onclose = function(e) {
                console.log("logging socket closed!")
            }

            socket.onopen = function(e) {
                console.log("logging socket opened!")
            }

        }

        {#On load, setup the channel to get communications from the server #}
        document.addEventListener('DOMContentLoaded', () => {
            {#Update the table of elements to monitor and log#}
            update_logsocket('{{monitor_name}}');
        })

    </script>

    <div class="card-body" style="height: 360px; overflow-y: auto">
        <div class="table-responsive">
            <table class="table">
                <thead style="text-align: left">
                    <tr>
                        <th>Time</th>
                        <th>Obj: Detections/Minute</th>
                    </tr>
                </thead>

                <tbody id="logtable">
                </tbody>

            </table>
        </div>
    </div>

{% endblock content %}
