{% extends 'traffic_monitor/section_wrapper.html' %}

{% block title %}Detection Trend{% endblock title %}

{% block content %}
    {% csrf_token %}

    <script type="text/javascript">

        function embed_chart(monitor_name) {
            {# set chart to 30 hours ago and limit looking backwards to 10 days #}
            var d = new Date();
            d.setHours(d.getHours() - 30);
            var limit_start_days = 10
            let url = 'http://127.0.0.1:8100/monitor_chart?monitor_name=' + monitor_name + '&start_date=' + d.toISOString() + '&limit_start_days=' + limit_start_days;
            let target_div = document.getElementById('plot-area')
            target_div.setAttribute('src', url)
        }

        async function setup_charting_dropdown_menu(monitor_name) {
            {# Update the parent's 'dropdown-menu' tag with <a> links #}
            let menulisting = document.getElementById('{{ section_id }}').getElementsByClassName('dropdown-menu')[0]
            menulisting.innerText = '';

            let menu_header1 = document.createElement('p');
            menu_header1.className = "dropdown-header";
            menu_header1.innerText = "View:";
            menulisting.appendChild(menu_header1);

            let elem = document.createElement('a');
            elem.className = "dropdown-item py-0";
            elem.setAttribute('role', "presentation");
            elem.innerText = "Full view in new tab..";
            let d = new Date();
            d.setHours(d.getHours() - 30);
            elem.href = 'http://127.0.0.1:8100/monitor_chart?monitor_name=MyMonitor&start_date=' + d.toISOString() + '&limit_start_days=0';
            elem.target = "_blank"
            menulisting.appendChild(elem);
        }

        {#On load, setup the channel to get communications from the server #}
        document.addEventListener('DOMContentLoaded', () => {
            setup_charting_dropdown_menu('{{ monitor_name }}');
            embed_chart('{{ monitor_name }}');
        })

    </script>

    <div class="card-body p-1" style="height: 360px;">
        <iframe class= "ml-1" id="plot-area" src="" width="100%" height="100%" style="border:none;"></iframe>
    </div>

{% endblock content %}



