{%  extends 'traffic_monitor/section_wrapper.html' %}

{% block title %}Log and Notification Settings{% endblock %}

{% block content %}
{#    Include the service html here #}
    {% csrf_token %}

    <script type="text/javascript">
        {#function update_configsocket(monitor_name) {#}
            {# A socket is created that will be used to capture messages from #}
            {# the backend. When updates are received the web page is updated #}
            {# with the respective log information. #}
        {##}
        {#    const objsel_socket = new WebSocket('ws://' + window.location.host + '/ws/traffic_monitor/config_change/' + monitor_name + '/')#}
        {##}
            {# Receive Update #}
        {#    objsel_socket.onmessage = async function(e) {#}
        {#        console.log("The obj selection socket got a message")#}
        {#        await set_selections('{{ monitor_name }}')#}
        {#    }#}
        {##}
        {#    objsel_socket.onclose = function(e) {#}
        {#        console.log("config_change socket closed!")#}
        {#    }#}
        {##}
        {#    objsel_socket.onopen = function(e) {#}
        {#        console.log("config_change socket opened!")#}
        {#    }#}
        {##}



        function toggle_box(elemid) {
            let split_elemid = elemid.split("__");
            let action = split_elemid[0];
            let obj = split_elemid[1];
            let url = null;
            if (action==='log') {
                url = 'toggle_log_objects/'
            }
            if (action==='not') {
                url = 'toggle_notification_objects/'
            }
            if (url === null) {
                return
            }

            url += '?monitor_name={{ monitor_name }}&objects=' + obj.replace('_', ' ')

            fetch(url);
        }


        function setup_table(monitor_name) {
        {#    Get data to put in table #}
            const url = 'get_trained_objects?monitor_name=' + monitor_name
            fetch(url)
                .then(response => response.json())
                .then(data => { make_table(data); })
                .then( () => update_config_objects(monitor_name))
                .catch(function(error) {
                                    console.log("Could not get data: get_trained_objects() failed. : " + error);
                                })
        }

        async function make_table(data) {
            let monitor_config = await get_monitor_config("{{ monitor_name }}")
            let class_colors = monitor_config['class_colors']

            {#Clear the table#}
            let table = document.querySelector("#notlogtable");
            table.innerHTML = ''
            for (let o in data) {
                let row = make_class_row(data[o], class_colors[data[o]]);
                add_table_row(row);}
        }

        function make_class_row(o, color) {
            {# Create class name column #}
            let c1 = document.createElement("td");
            {# $(<#id>) retrieves a DOM element by id#}
            {#c1.innerHTML = `${o}`;#}
            c1.innerHTML = "<span style='height:10px; width:10px; border-radius:50%; background-color: rgb(" + color[0] + "," + color[1] + "," + color[2] +"); display: inline-block'></span>&nbsp" + `${o}`;
            c1.className = 'py-2';

            {# Create monitoring checkbox column #}
            let not_check_box = document.createElement("input");
            not_check_box.type = 'checkbox';
            not_check_box.className = 'not_checkbox config_object notification_objects ' + o.replace(' ', '_');
            not_check_box.setAttribute('data-obj', o);
            {#not_check_box.id = 'not__' + o.replace(' ', '_');#}
            not_check_box.checked = false;
            not_check_box.onclick = function() {toggle_box('not__' + o.replace(' ', '_'));}

            let c2 = document.createElement("td");
            c2.appendChild(not_check_box);
            c2.className = "text-center py-2";

            {# Create logging checkbox column #}
            let log_check_box = document.createElement("input");
            log_check_box.type = 'checkbox';
            log_check_box.className = 'log_checkbox config_object log_objects ' + o.replace(' ', '_');
            log_check_box.setAttribute('data-obj', o);
            {#log_check_box.id = 'log__' + o.replace(' ', '_');#}
            log_check_box.checked = false;
            log_check_box.onclick = function() {toggle_box('log__' + o.replace(' ', '_'));}

            let c3 = document.createElement("td");
            c3.appendChild(log_check_box);
            c3.className = "text-center py-2";


            let table_row = document.createElement('tr');
            table_row.appendChild(c1);
            table_row.appendChild(c2);
            table_row.appendChild(c3);

            return table_row

            }

        function add_table_row(table_row) {
                let table = document.querySelector("#notlogtable");
                table.appendChild(table_row)
        }

        {#On load, setup the log and notification selection table #}
        document.addEventListener('DOMContentLoaded', () => {
            {#Update the table of elements to monitor and log#}
            setup_table('{{monitor_name}}');
        })
    </script>

    <div class="card-body" style="height: 360px; overflow-y: auto">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-left">Object</th>
                        <th class="text-center">Notify</th>
                        <th class="text-center">Log</th>
                    </tr>
                </thead>

                <tbody id="notlogtable">
                </tbody>

            </table>
        </div>
    </div>

{% endblock content %}