{% extends 'traffic_monitor/section_wrapper.html' %}

{% block title %}Detection Log{% endblock title %}

{% block content %}
    {% csrf_token %}

    <script type="text/javascript">

        async function update_logsocket(monitor_name) {
            {# A socket is created that will be used to capture messages from #}
            {# the backend. When updates are received the web page is updated #}
            {# with the respective log information. #}

            const socket = new WebSocket('ws://' + window.location.host + '/ws/traffic_monitor/log/' + monitor_name + '/')

            let monitor_config = await get_monitor_config("{{ monitor_name }}");
            let class_colors = monitor_config['class_colors'];
            
            {# Clear anything already in the detections log #}
            let logtable = document.getElementById("log_output");
            logtable.innerHTML = ''

            {# Update Log #}
            socket.onmessage = function(e) {
                const data = JSON.parse(e.data).counts;
                const utctime = new Date(JSON.parse(e.data).time_stamp);
                let time_stamp = utctime.toLocaleDateString() + " " +utctime.toTimeString();

                let logoutput = document.getElementById("log_output");
                let i = 0;

                for (const [k, v] of Object.entries(data)){
                    console.log(k + ': ' + v);
                    let color = class_colors[k];
                    let logentry = document.createElement("tr");

                    let c1 = document.createElement("td");
                    c1.className = 'py-1'
                    if (i === Object.keys(data).length-1) {
                        c1.innerHTML = time_stamp;
                    } else {
                        c1.innerHTML = ''
                    }
                    logentry.appendChild(c1);

                    let c2 = document.createElement("td");
                    c2.className = 'py-1'
                    c2.innerHTML = "<span style='height:10px; width:10px; border-radius:50%; background-color: rgb(" + color[0] + "," + color[1] + "," + color[2] +"); display: inline-block'></span>&nbsp" + k + ": " + v;
                    logentry.appendChild(c2);
                    logoutput.insertBefore(logentry, logoutput.childNodes[0]);
                    i++;

                    {#If list is longer than 100, remove oldest item from the bottom of list#}
                    var num_elems = document.getElementById("log_table").childElementCount;

                    if (num_elems > 100) {
                        logoutput.removeChild(logoutput.childNodes[10]);
                    }

                }
            }

            socket.onclose = function(e) {
                console.log("logging socket closed!")
            }

            socket.onopen = function(e) {
                console.log("logging socket opened!")
            }

        }

        async function setup_logging_dropdown_menu(monitor_name) {
            {# Update the parent's 'dropdown-menu' tag with <a> links #}
            let menulisting = document.getElementById('{{ section_id }}').getElementsByClassName('dropdown-menu')[0]
            menulisting.innerText = '';

            let menu_header1 = document.createElement('p');
            menu_header1.className = "dropdown-header";
            menu_header1.innerText = "Logged Objects:";
            menulisting.appendChild(menu_header1);

            let elem = document.createElement('a');
            elem.className = "dropdown-item py-0";
            elem.setAttribute('role', "presentation");
            elem.href = '#';
            elem.onclick = () => {
                $('#logmodal').modal();
            };
            elem.innerText = "Select objects...";
            menulisting.appendChild(elem);

            let clr_elem = document.createElement('a');
            clr_elem.className = "dropdown-item py-0";
            clr_elem.setAttribute('role', "presentation");
            clr_elem.href = '#';
            clr_elem.onclick = () => {
                clear_log('log');
            };
            clr_elem.innerText = "Clear log";
            menulisting.appendChild(clr_elem);

            let div = document.createElement('div');
            div.className = "dropdown-divider";
            menulisting.appendChild(div);

            let menu_header2 = document.createElement('p');
            menu_header2.className = "dropdown-header";
            menu_header2.innerText = "Logging Interval:";
            menulisting.appendChild(menu_header2);

            let intervals = [{'desc': '1 minute', 'value': '60'}, {
                'desc': '2 minutes',
                'value': '120'
            }, {'desc': '3 minutes', 'value': '180'}, {'desc': '5 minutes', 'value': '300'}, {
                'desc': '10 minutes',
                'value': '600'
            }, {'desc': '15 minutes', 'value': '900'}]
            for (let i in intervals) {
                let elem = document.createElement('a');
                elem.className = "dropdown-item py-0";
                elem.setAttribute('role', "presentation");
                elem.href = '#';
                elem.onclick = () => {
                    {#set_log_interval(monitor_name, intervals[i]['value'])#}
                    set_config_value('set_log_interval', monitor_name, 'log_interval', intervals[i]['value'])
                };
                elem.innerText = intervals[i]['desc'];
                menulisting.appendChild(elem);
            }
        }

        {#On load, setup the channel to get communications from the server #}
        document.addEventListener('DOMContentLoaded', () => {
            {#Update the table of elements to monitor and log#}
            update_logsocket('{{monitor_name}}');
            setup_logging_dropdown_menu('{{monitor_name}}');
            setup_selection_table('{{monitor_name}}', 'log');
        })

    </script>

    <div class="card-body" style="height: 360px; overflow-y: auto">
        <div class="table-responsive">
            <table class="table">
                <thead style="text-align: left">
                    <tr>
                        <th>Time</th>
                        <th>Obj: Detections/Minute</th>
                    </tr>
                </thead>

                <tbody id="log_output">
                </tbody>

            </table>
        </div>
    </div>

    {#    MODAL    #}
    <div class="modal fade" id="logmodal" tabindex="-1" role="dialog" aria-labelledby="logmodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logmodaltitle">Select log objects ...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-left">Object</th>
                                    <th class="text-center">Log</th>
                                </tr>
                            </thead>

                            <tbody id="log_table">
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-small" data-dismiss="modal">Close</button>
                </div>
        </div>
     </div>
   </div>

{% endblock content %}
