{% extends 'traffic_monitor/section_wrapper.html' %}

{% block title %}Download Log Data{% endblock title %}

{% block content %}
    {% csrf_token %}

    <script type="text/javascript">

        async function setup_datadownload_dropdown_menu(monitor_name) {
            let menulisting = document.getElementById('{{ section_id }}').getElementsByClassName('dropdown-menu')[0]
            menulisting.innerText = '';

            let elem = document.createElement('a');
            elem.className = "dropdown-item py-0";
            elem.setAttribute('role', "presentation");
            elem.href = '#';
            elem.onclick = () => {
                download_log_data(monitor_name)
            };
            elem.innerText = 'Download to CSV';

            menulisting.appendChild(elem);

        }

        async function download_log_data(monitor_name) {
            const start_date = document.getElementById('from_datepicker').value;
            const end_date = document.getElementById('to_datepicker').value;
            const url = 'get_logged_data_csv?monitor_name=' + monitor_name + '&start_date=' + start_date + '&end_date=' + end_date;

            let a = document.createElement("a");
            a.href = url;
            a.setAttribute("download", end_date + "_" + monitor_name);
            a.click();
        }

        function setup_default_start_date() {
            const e = document.getElementsByClassName('earliest_log_date')[0];
            var start_date = e.innerText.slice(0,10);
            let t = document.getElementById('from_datepicker')
            t.value = start_date;
        }

        function setup_default_end_date() {
            const e = document.getElementsByClassName('latest_log_date')[0];
            var start_date = e.innerText.slice(0,10);
            let t = document.getElementById('to_datepicker')
            t.value = start_date;
        }

        {#On load, setup the channel to get communications from the server #}
        document.addEventListener('DOMContentLoaded', () => {
            setup_datadownload_dropdown_menu('{{ monitor_name }}');
        })

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
                        $( "#from_datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
                        $( "#anim" ).on( "change", function() {
                          $( "#from_datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
                        });

                        $( "#to_datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
                        $( "#anim" ).on( "change", function() {
                          $( "#to_datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
                        });

                      }
          );
    </script>

    <div class="card-body" style="height: 360px; overflow-y: auto">
        <div class="col-12 border border-secondary rounded bg-light my-1" style="height: 50%">
            <h5 class="mt-2" style="font-weight: bold">{{ monitor_name }} Logged Data </h5>
            <hr class="hr-text my-2">
            <div class="row my-1">
                <div class='ml-4' style="font-weight: bolder; width: 190px">Earliest Log Date:</div><div class="config_object earliest_log_date">no records</div>
            </div>
            <div class="row my-1">
                <div class='ml-4' style="font-weight: bolder; width: 190px">Most Recent Log Date:</div><div class="config_object latest_log_date">no records</div>
            </div>
            <div class="row my-1">
                <div class='ml-4' style="font-weight: bolder; width: 190px">Num Log Records:</div><div class="config_object num_log_records">0</div>
            </div>
        </div>

        <div class="col-12 border border-secondary rounded bg-light my-1" style="height: 50%">
            <h5 class="mt-2" style="font-weight: bold">Download to CSV File</h5>
            <hr class="hr-text my-2">
            <div class="row my-1">
                <div class='ml-4' style="font-weight: bolder; width: 100px">From Date:</div><input type="text" id="from_datepicker" size="10" class="config_object earliest_log_date date">
            </div>
            <div class="row mt-1">
                <div class='ml-4' style="font-weight: bolder; width: 100px">To Date:</div><input type="text" id="to_datepicker" size="10" class="config_object latest_log_date date">
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-primary btn-sm" onclick="download_log_data('{{ monitor_name }}')">Download</button>
            </div>
        </div>

    </div>

{% endblock content %}
