{% extends 'traffic_monitor/section_wrapper.html' %}

{% block title %}Download Log Data{% endblock title %}

{% block content %}
    {% csrf_token %}

    <script type="text/javascript">






        {#On load, setup the channel to get communications from the server #}
        document.addEventListener('DOMContentLoaded', () => {

        })

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
                        $( "#from_datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
                        $( "#anim" ).on( "change", function() {
                          $( "#from_datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
                        });

                        $( "#to_datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
                        $( "#anim" ).on( "change", function() {
                          $( "#to_datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
                        });

                      }
          );
    </script>

    <div class="card-body" style="height: 360px; overflow-y: auto">
        <div class="col-12 border border-secondary rounded bg-light my-1" style="height: 50%">
            <div>Monitor Data Statistics</div>
            <div class="row">
                <div class='ml-3' style="font-weight: bolder; width: 175px">Earliest Log Date:</div><div class="config_object earliest_log_date">-</div>
            </div>
            <div class="row">
                <div class='ml-3' style="font-weight: bolder; width: 175px">Most Recent Log Date:</div><div class="config_object latest_log_date">-</div>
            </div>
            <div class="row">
                <div class='ml-3' style="font-weight: bolder; width: 175px">Num Log Records:</div><div class="config_object num_log_records">-</div>
            </div>
        </div>

        <div class="col-12 border border-secondary rounded bg-light my-1" style="height: 50%">
            Download Monitor Logged Data
            <div class="row">
                <div class='ml-3' style="font-weight: bolder; width: 100px">From Date:</div><input type="text" id="from_datepicker" size="8">
            </div>
            <div class="row">
                <div class='ml-3' style="font-weight: bolder; width: 100px">To Date:</div><input type="text" id="to_datepicker" size="8">
            </div>
        </div>

    </div>

{% endblock content %}
